@import "tailwindcss";

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-image: url('/images/bear.png');
  background-color: greenyellow;
  background-size: 1000px 950px;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

